// About page partial

.o-about {
    .c-about {
        @include breakpoint(xxs) {
            text-align: center;
        }
        @include breakpoint(sm) {
            margin: $all-zero auto;
            width: $smallick-grid-width-100 / 1.176;
        }
        @include breakpoint(md) {
            width: $smallick-grid-width-100 / 1.25;
        }
        @include breakpoint(lg) {
            width: $smallick-grid-width-100 / 1.33;
        }
    }
}




