// Awards and Exhibitions page partial

.c-events {
    article {
        margin-bottom: $all-zero + 25;
        width: $smallick-grid-width-100 / 1.06;
        //@extend .u-oflowhidden;
        > div {
            @extend .u-relative;
        }
        &:last-child {
            @extend .u-no-bot-margin;
        }
    }
    iframe {
        height: $all-zero + 300;
        margin-bottom: $all-zero + 20;
        @extend .u-display-block;
        @extend .u-width-100;
        @extend .u-height-100;
    }
    &__meta {
        background-color: $brand-primary;
        color: $white;
        padding: $all-zero + 15 $all-zero + 18;
        left: $all-zero - 15;
        bottom: $all-zero + 30;
        @extend .u-display-in-block;
        @extend .u-absolute;
        a {
            color: $white;
        }
        svg {
            fill {
                color: $white;
            }
        }
        + p {
            @extend .u-no-bot-margin;
        }
    }
}
