// Awards and Exhibitions page partial

.o-awards {

    // awards holder
    &__holder {
        @extend .u-no-side-padding;
        @include breakpoint(sm) {
            padding: $all-zero $container-padding;
        }
    }
    &__inner {

    }

    // awards and exhibitions common
    .c-recog {

        // individual awarded item
        &__item {
            @extend .u-bx-triangle;
            @extend .u-bx-triangle--rtl2;
            @extend .u-bx-triangle--light;
            // @extend .u-cmn-padding-sidewise;
            margin-bottom: $all-zero + 1;
            background-color: $gray1-rgba;
            padding-top: $font-size-global * 2.5;
            padding-bottom: $font-size-global * 2.5;
            @include breakpoint(md) {
                margin-bottom: $font-size-global * 3 + 7;
            }
            @include breakpoint(lg) {
                margin-bottom: $font-size-global * 5 - 5;
                padding-top: $font-size-global * 5;
                padding-bottom: $font-size-global * 5;
            }

            article {
                @extend .u-bx-triangle__inner;
                @extend .u-cmn-padding-sidewise;
                @include breakpoint(lg) {
                    padding-left: $font-size-global * 5.5 + 2;
                    padding-right: $font-size-global * 5.5 + 2;
                }
                h3 {
                    @extend .u-no-top-margin;
                }
            }

            // name/title of the organiser
            header {
                .c-title {

                }
            }

            // awarded item details
            &__details {

            }

            // logo/brand of the organiser
            &__logo-organisr {

            }

            // individual contest
            &__contst {

                // individual contest details .. eg. description + links etc.
                &__detls {

                }

                // details of the awarded/nominated image in the respective contest
                &__img {

                    // image details holder
                    &__detls {

                        // selected image name
                        &__name {

                            // holder
                            div {

                            }

                            // label
                            label {

                            }

                            // desc
                            p {

                            }
                        }


                        // name of the contest
                        &__contestname {

                            // holder
                            div {

                            }

                            // label
                            label {

                            }

                            // desc
                            p {

                            }
                        }


                        // type of the award
                        &__awardtype {

                            // holder
                            div {

                            }

                            // label
                            label {

                            }

                            // desc
                            p {

                            }

                        }


                        // link / URL of the selected image
                        &__link {

                            // holder
                            div {

                            }

                            // label
                            label {

                            }

                            // desc
                            p {

                            }
                        }
                    }


                    // only the image
                    section {
                        figure {
                            img {

                            }
                        }
                    }
                }
            }
            &:nth-of-type(2n) {
                //@extend .u-bx-triangle--rtl2;
            }
        }
    }

    // awards only
    .c-awards {

    }

    // exhibitions only
    .c-exhibitions {

    }
}
