// Home Page partial


.o-content--home {
    h1, h2, h3, h4, h5, h6 {
        @extend .u-txt-uppercase;
    }
    h2 {
        @extend .c-title-h2-home;
    }
}


// mission & vision area
.o-mission-vision-area {
    .o-txt-cont {
        border-bottom: $gray-dark solid $all-zero + 1;
        margin-bottom: $all-zero + 30;
        padding-bottom: $all-zero + 10;
    }
    footer {
        h3 {
            @extend .c-title;
            //@extend .c-title--yellow;
            @extend .u-txt-notranform;
        }
    }
}


// home page sponsors area
.o-sponsors-panel {
    h3 {
        font-weight: $weight-extrabold;
    }
    &__list {
        margin-bottom: $all-zero + 15;
        @extend .u-oflowhidden;
        section {
            height: $all-zero + 130;
            margin-bottom: $all-zero + 25;
            //width: $smallick-grid-width-100 / 2.07;
            //@extend .u-float-left;
            @extend .u-txt-valign-top;
            &:last-child{
                //@extend .u-float-right;
            }
            a {
                background-color: $white;
                padding: $all-zero + 15;
                @extend .u-box-shadow;
                @extend .u-display-block;
                @extend .u-width-100;
                @extend .u-height-100;
                img {
                    opacity: 1;
                    @extend .u-display-block;
                    @extend .u-width-100;
                    @extend .u-height-100;
                    @extend .u-objfit-contain;
                    @extend .u-obj-pos-center-middle;
                    @extend .u-transition-500;
                }
                &:hover {
                    @extend .u-box-shadow-hvr;
                    img {
                        opacity: 0.8;
                    }
                }
            }
        }
        &--odd {
            section {
                //margin-right: $all-zero + 22;
                //width: $smallick-grid-width-100 / 3.2;
                &:last-child {
                    //margin-right: $all-zero;
                }
            }
        }
    }
}

// home page past events area
.o-past-events-area {
    h2 {
        @extend .u-no-bot-margin;
    }
    h3 {
        margin-bottom: $all-zero + 8;
    }
    div {
        padding-top: $all-zero + 60;
        padding-bottom: $all-zero + 60;
        @extend .u-oflowhidden;
    }
    &__left {
        padding-left: 12%;
        padding-right: $all-zero + 60;
    }
    &__right {
        padding-right: 12%;
        padding-left: $all-zero + 60;
    }
}

// home page latest events area
.o-latst-events-area {
    @extend .u-txtalign-center;
    &__inner {
        margin-top: $all-zero + 70;
        margin-bottom: $all-zero + 30;
        h3 {
            font-weight: $weight-extrabold;
            @extend .u-txtalign-left;
        }
        section {
            > div {
                height: $all-zero + 315;
                p {
                    @extend .u-height-100;
                }
            }
        }
    }
}

// home page testimonial area
.o-tmonials-area {
    figure {
        border: $gray-mid solid $all-zero + 10;
        border-left: $brand-primary solid $all-zero + 10;
        border-top: $brand-primary solid $all-zero + 10;
        width: 310px;
        height: 310px;
        @extend .u-transition-500;
        @extend .u-border-radius-100;
        img {
            @extend .u-obj-pos-center-middle;
            @extend .u-objfit-contain;
            @extend .u-width-100;
            @extend .u-height-100;
            @extend .u-border-radius-100;
        }
        // &:hover {
        //     border-right: $brand-primary solid $all-zero + 10;
        //     border-bottom: $brand-primary solid $all-zero + 10;
        // }
    }
    footer {
        margin-top: $all-zero + 20;
        p {
            font-weight: $weight-semibold;
            @extend .u-no-bot-margin;
        }
    }
}

