// Portfolio section partial

.o-portfolio {
    &__holder {
        @extend .u-no-side-padding;
    }
    .c-portfolio {
        &__item {
            height: $smallick-grid-height-100vh / 3;
            margin-bottom: $all-zero + 1;
            @extend .u-display-block;
            @extend .u-oflowhidden;
            @extend .u-relative;
            article {
                @extend .u-relative;
                @extend .u-width-100;
                @extend .u-height-100;
                div,
                figure,
                img {
                    @extend article;
                }
                img {
                    @extend .u-objfit-cover;
                    @extend .u-transition-500;
                    @extend .u-obj-pos-center-middle;
                }
                header {
                    z-index: 5;
                    @extend .u-absolute;
                    @extend .u-translate-50;
                    @extend .u-txtalign-center;
                    h3 {
                        z-index: 6;
                        @extend .c-box;
                        @extend .c-title;
                        @extend .c-title--light;
                        @extend .u-no-margin;
                        @extend .c-box--padding;
                        @extend .u-transition-500;
                        @extend .c-box--border-solid;
                        @extend .c-box--bg-transparent--light;
                        @extend .c-box--border-solid--opacity0;
                        @include breakpoint(sxs) {
                            letter-spacing: $all-zero + 1;
                        }
                    }
                }
            }
            &:hover {
                article {
                    header {
                        h3 {
                            @extend .c-box--border-solid;
                            @extend .c-box--border-solid--light;
                            //@extend .c-box--bg-transparent--dark;
                            @extend .c-box--border-solid--opacity1;
                            @extend .c-box--nobg;
                        }
                    }
                    figure {
                        @extend .u-oflowhidden;
                        img {
                            @extend .u-scale-1point2;
                        }
                    }
                }
            }
            &:last-child {
                @extend .u-no-bot-margin;
            }
        }
    }
}




