// Portfolio section partial

.o-portfolio {
    &__holder {
        @extend .u-no-side-padding;
        @include breakpoint(md) {
            padding: $all-zero $container-padding;
        }
    }
    .c-portfolio {
        @include breakpoint(md) {
            overflow: hidden;
        }
        &__item {
            height: $smallick-grid-height-100vh / 3;
            margin-bottom: $all-zero + 1;
            @extend .u-display-block;
            @extend .u-oflowhidden;
            @extend .u-no-padding;
            @extend .u-relative;
            @include breakpoint(md) {
                float: left;
                margin-bottom: $smallick-grid-width-100 / 40;
                &:before {
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 1;
                    content: "";
                    position: absolute;
                    border: $all-zero solid $white-rgba;
                }
            }
            article {
                @extend .u-relative;
                @extend .u-width-100;
                @extend .u-height-100;
                div,
                figure,
                img {
                    @extend article;
                }
                img {
                    @extend .u-objfit-cover;
                    @extend .u-transition-500;
                    @extend .u-obj-pos-center-middle;
                }
                header {
                    z-index: 5;
                    @extend .u-absolute;
                    @extend .u-translate-50;
                    @extend .u-txtalign-center;
                    h3 {
                        z-index: 6;
                        @extend .c-box;
                        @extend .c-title;
                        @extend .c-title--light;
                        @extend .u-no-margin;
                        @extend .c-box--padding;
                        @extend .u-transition-500;
                        @extend .c-box--border-solid;
                        @extend .c-box--bg-transparent--light;
                        @extend .c-box--border-solid--opacity0;
                        @include breakpoint(sxs) {
                            letter-spacing: $all-zero + 1;
                        }
                    }
                }
            }
            &:hover {
                @include breakpoint(md) {
                    &:before {
                        border: $all-zero + 10 solid $white-rgba;
                    }
                }
                article {
                    header {
                        h3 {
                            @extend .c-box--border-solid;
                            @extend .c-box--border-solid--light;
                            @extend .c-box--border-solid--opacity1;
                            @extend .c-box--nobg;
                        }
                    }
                    figure {
                        @extend .u-oflowhidden;
                        img {
                            @extend .u-scale-1point2;
                            @include breakpoint(md) {

                            }
                        }
                    }
                }
            }
            &:last-child {
                @extend .u-no-bot-margin;
            }
        }
        &__type1 {
            @include breakpoint(md) {
                height: $smallick-grid-height-100vh / 1.5;
                width: $smallick-grid-width-100 / 2 - 1.5;
                &:nth-of-type(2n) {
                    float: right;
                }
            }
        }
        &__type2 {
            @include breakpoint(md) {
                height: $smallick-grid-height-100vh / 4;
                width: $smallick-grid-width-100 / 4 - 2;
                &--set1 {
                    float: right;
                    &:nth-of-type(2) {
                        margin-left: $smallick-grid-width-100 / 40;
                    }
                }
                &--set2 {
                    float: left;
                    &--last {
                        margin-left: $smallick-grid-width-100 / 40;
                    }
                }
            }
        }
        &__type3 {
            @include breakpoint(md) {
                height: $smallick-grid-height-100vh / 1.81;
                margin-right: $smallick-grid-width-100 / 40;
                margin-bottom: $all-zero;
                width: $smallick-grid-width-100 / 4 - 2;

                &:nth-last-of-type(2) {
                    width: $smallick-grid-width-100 / 2 - 1;
                }
                &:last-child {
                    float: right;
                    margin-right: $all-zero;
                }
            }
        }
    }
    &__inner {
        @extend .u-no-bot-padding;
        @include breakpoint(md) {
            padding: $font-size-global * 3 + 7 $all-zero !important;
        }
        @include breakpoint(lg) {
            padding: $font-size-global * 5 - 5 $all-zero !important;
        }
    }
}




