// Blog page partial

.o-sidebar {
    border-top: $all-zero + 1 solid $white-rgba-solid-darken-50;
    @include breakpoint(sm) {
        border: none;
    }
    // sidebar holder
    &__holder {

    }

    // sidebar inner
    &__inner {
        padding: $font-size-global * 2 - 2 $all-zero;
        //@extend .u-valign-middle;
        @include breakpoint(sm) {
            display: table;
            margin: $all-zero auto;
            width: $smallick-grid-width-100;
        }

        // sidebar widgets
        > section {
            @extend .u-width-100;
            //@extend .u-valign-middle__inner;
            @include breakpoint(sm) {
                float: none;
                display: table-cell;
                vertical-align: middle;
                width: $smallick-grid-width-100 / 3;
            }

            // widget title

            .c-title {
                @extend .u-txt-smallcaps;
            }

            h2 {
                font-size: $font-size-global * 1.5 - 2;
                margin-bottom: $font-size-global * 1.5 + 1;
                @include breakpoint(sm) {
                    font-size: $font-size-global * 1.5;
                }
                @include breakpoint(md) {
                    font-size: $font-size-global * 1.5 + 2;
                }
                @include breakpoint(lg) {
                    font-size: $font-size-global * 1.5 + 4;
                }
            }

            h3 {
                font-size: $font-size-global * 1.5 - 4;
                margin-bottom: $font-size-global * 1.5;
                @include breakpoint(sm) {
                    font-size: $font-size-global * 1.5 - 2;
                }
                @include breakpoint(md) {
                    font-size: $font-size-global * 1.5;
                }
                @include breakpoint(lg) {
                    font-size: $font-size-global * 1.5 + 2;
                }
            }


            // widget list
            ul {
                @extend .c-line;
                @extend .c-line--under;
                @extend .u-no-bot-margin;
                li {
                    @extend .u-display-in-block;
                    a {
                        &:before {
                            @extend .u-bot-0;
                            @include breakpoint(md) {
                                bottom: $all-zero;
                            }
                        }
                    }
                }
                @include breakpoint(md) {
                    letter-spacing: $all-zero + 1;
                }
            }

            // first
            &:first-child {
                height: $all-zero;
                @extend %u-opacity-0;
                //@extend .u-display-none;
                @include breakpoint(sm) {
                    //display: block;
                    opacity: 1;
                    height: auto;
                    padding-right: $font-size-global * 2.5;
                }
                ul {
                    @extend .c-line--left;
                    @extend .c-line--dark;
                    li {
                        margin-right: $all-zero + 5;
                        @extend .u-display-in-block;
                        a {

                        }
                    }
                }
            }

            // middle
            &:nth-of-type(2) {
                @extend .u-txtalign-center;
                .c-title {
                    &:after {
                        bottom: $all-zero - 10;
                    }
                }
            }

            // last
            &:last-child {
                height: $all-zero;
                @extend .u-txtalign-right;
                @extend %u-opacity-0;
                //@extend .u-display-none;
                @include breakpoint(sm) {
                    //display: block;
                    opacity: 1;
                    height: auto;
                    padding-left: $font-size-global * 2.5;
                }
                ul {
                    @extend .c-line--dark;
                    @extend .c-line--right;
                    @extend .u-txt-smallcaps;
                    li {
                        margin-left: $all-zero + 5;
                        a {

                        }
                    }
                }
            }
        }
    }

    // bottom sidebar
    &--bottom {

        // bottom sidebar holder
        &__holder {
            @extend .u-no-side-padding;
            @include breakpoint(sm) {
                padding: $all-zero $container-padding;
            }
        }

        // bottom sidebar inner
        &__inner {
            //@extend .u-no-padding;
            padding: $all-zero !important;
            @include breakpoint(sm) {
                padding: $font-size-global * 2 - 2 $all-zero !important;
            }

            > section {
                //margin-bottom: $font-size-global * 2 - 2;
                padding: $font-size-global * 2 + 3 $font-size-global * 2 - 2;
                .c-title {
                    &:after {
                        bottom: $all-zero - 10;
                    }
                }
                @include breakpoint(sm) {
                    margin-bottom: $all-zero;
                    padding: $all-zero;
                    .c-title {
                        &:after {
                            bottom: $all-zero;
                        }
                    }
                }


                &:first-child,
                &:nth-of-type(2),
                &:nth-of-type(3),
                &:last-child {
                    ul {
                        @extend .c-line--dark;
                        @extend .c-line--left;
                        letter-spacing: $all-zero + 1;
                        li {
                            margin-right: $all-zero + 5;
                        }
                    }
                }

                // first
                &:first-child {
                    height: auto;
                    // padding-right: $all-zero;
                    @extend %u-opacity-1;
                    @include breakpoint(sm) {
                        padding-right: $font-size-global * 2.5;
                    }
                }

                // 2nd and 3rd item
                &:nth-of-type(2),
                &:nth-of-type(3) {
                    height: auto;
                    @extend %u-opacity-1;
                    @extend .u-display-block;
                    @extend .u-txtalign-left;
                    @include breakpoint(sm) {
                        opacity: 0;
                        display: none;
                        height: $all-zero;
                    }
                }

                // 3rd
                &:nth-of-type(3) {
                    ul {
                        @extend .u-txt-smallcaps;
                    }
                }

                // share this post
                &:nth-of-type(4) {
                    @extend .u-txtalign-center;
                    .c-title {
                        &:after {
                            bottom: $all-zero - 10;
                        }
                    }
                    a {
                        &:before {
                            @extend .u-display-none;
                        }
                    }
                }

                // last
                &:last-child {
                    height: auto;
                    text-align: center !important;
                    // padding-left: $all-zero;
                    @extend %u-opacity-1;
                    //@extend .u-txtalign-center;
                    @include breakpoint(sm) {
                        text-align: right !important;
                        padding-left: $font-size-global * 2.5;
                    }
                }
            }

            .c-category {
                padding-bottom: $all-zero;
            }

            .c-archive {
                padding-bottom: $font-size-global * 2 + 3;
                @include breakpoint(sm) {
                    padding-bottom: $all-zero;
                }
            }

            .c-category,
            .c-archive,
            .c-date {
                background-color: rgba($white-rgba, 0.1);
                @include breakpoint(sm) {
                    background-color: transparent;
                }
            }

            .c-stayintuch {

            }

            .c-date {

            }
        }
    }
}

// stories navigation
.c-story-nav {
    background-color: rgba($black-rgba, 1);
    border-bottom: $all-zero + 1 solid $white-rgba-solid-darken-50;
    @extend .u-oflowhidden;
    @include breakpoint(sm) {
        border: none;
        background-color: rgba($black-rgba, 0.9);
    }
    &__item {
        width: $smallick-grid-width-100 / 2.5;
        @extend .u-display-block;
        @extend .u-txt-valign-middle;
        a {
            // color: $white-rgba;
            @extend .u-display-block;
            &:last-child {
                letter-spacing: $all-zero + 1;
                font-size: $font-size-global + 4;
                margin-top: $font-size-global + 4;
                font-family: $headings-font-family;
                line-height: $font-size-global + 4;
            }
        }
        figure {
            width: $smallick-grid-width-100;
            height: $font-size-global * 6 + 4;
            @extend .u-display-block;
            img {
                @extend .u-width-100;
                @extend .u-height-100;
                @extend .u-objfit-cover;
                @extend .u-display-block;
                @extend .u-obj-pos-center-middle;
            }
        }
    }
    &__prev {
        @extend .u-float-left;
        a {
            @extend .u-txtalign-right;
        }
    }
    &__next {
        @extend .u-float-right;
        a {
            @extend .u-txtalign-left;
        }
    }
}


