// Blog page partial

.c-blog {
    &__item {
        margin-bottom: $font-size-global * 3.5;
        header {
            h2 {
                margin-bottom: $all-zero + 22;
                a {
                    color: $body-color;
                    &:hover {
                        color: lighten($body-color, 20%);
                    }
                }
            }
        }
        div {

        }
        footer {
            .c-permalink {
                color: $orange;
                font-weight: $weight-semibold;
                text-decoration: underline;
            }
        }
        &:last-child {
            @extend .u-no-bot-margin;
        }
    }
    &__meta {
        color: lighten($gray, 12%);
        font-weight: $weight-medium;
        margin-bottom: $all-zero + 20;
        a {
            color: lighten($gray, 15%);
            &:hover {
                color: darken($gray, 25%);
            }
        }
        span,
        time {
            padding-left: $all-zero + 35;
            @extend .u-relative;
            &:before {
                content: "";
                height: $all-zero + 25;
                max-width: 256px;
                max-height: 256px;
                width: $all-zero + 25;
                @extend .u-absolute;
                @extend .u-left-0;
                @extend .u-translate-y50;
                @extend .u-bg-contain;
                @extend .u-bg-norepeat;
                @extend .u-bg-pos-center-middle;
            }
        }
        span {
            &.screen-reader-text {
                display: none;
            }
            &.by-author {
                @extend .u-txt-capitalize;
                &:before {
                    background-image: url('data:image/svg+xml;base64,
                    PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNDgyLjkgNDgyLjkiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQ4Mi45IDQ4Mi45OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgd2lkdGg9IjUxMiIgaGVpZ2h0PSI1MTIiPjxnPjxnPgoJPGc+CgkJPHBhdGggZD0iTTIzOS43LDI2MC4yYzAuNSwwLDEsMCwxLjYsMGMwLjIsMCwwLjQsMCwwLjYsMGMwLjMsMCwwLjcsMCwxLDBjMjkuMy0wLjUsNTMtMTAuOCw3MC41LTMwLjUgICAgYzM4LjUtNDMuNCwzMi4xLTExNy44LDMxLjQtMTI0LjljLTIuNS01My4zLTI3LjctNzguOC00OC41LTkwLjdDMjgwLjgsNS4yLDI2Mi43LDAuNCwyNDIuNSwwaC0wLjdjLTAuMSwwLTAuMywwLTAuNCwwaC0wLjYgICAgYy0xMS4xLDAtMzIuOSwxLjgtNTMuOCwxMy43Yy0yMSwxMS45LTQ2LjYsMzcuNC00OS4xLDkxLjFjLTAuNyw3LjEtNy4xLDgxLjUsMzEuNCwxMjQuOUMxODYuNywyNDkuNCwyMTAuNCwyNTkuNywyMzkuNywyNjAuMnogICAgIE0xNjQuNiwxMDcuM2MwLTAuMywwLjEtMC42LDAuMS0wLjhjMy4zLTcxLjcsNTQuMi03OS40LDc2LTc5LjRoMC40YzAuMiwwLDAuNSwwLDAuOCwwYzI3LDAuNiw3Mi45LDExLjYsNzYsNzkuNCAgICBjMCwwLjMsMCwwLjYsMC4xLDAuOGMwLjEsMC43LDcuMSw2OC43LTI0LjcsMTA0LjVjLTEyLjYsMTQuMi0yOS40LDIxLjItNTEuNSwyMS40Yy0wLjIsMC0wLjMsMC0wLjUsMGwwLDBjLTAuMiwwLTAuMywwLTAuNSwwICAgIGMtMjItMC4yLTM4LjktNy4yLTUxLjQtMjEuNEMxNTcuNywxNzYuMiwxNjQuNSwxMDcuOSwxNjQuNiwxMDcuM3oiIGRhdGEtb3JpZ2luYWw9IiMwMDAwMDAiIGNsYXNzPSJhY3RpdmUtcGF0aCIgc3R5bGU9ImZpbGw6I0YxNTkyQSIgZGF0YS1vbGRfY29sb3I9IiNmMTU5MmEiPjwvcGF0aD4KCQk8cGF0aCBkPSJNNDQ2LjgsMzgzLjZjMC0wLjEsMC0wLjIsMC0wLjNjMC0wLjgtMC4xLTEuNi0wLjEtMi41Yy0wLjYtMTkuOC0xLjktNjYuMS00NS4zLTgwLjljLTAuMy0wLjEtMC43LTAuMi0xLTAuMyAgICBjLTQ1LjEtMTEuNS04Mi42LTM3LjUtODMtMzcuOGMtNi4xLTQuMy0xNC41LTIuOC0xOC44LDMuM2MtNC4zLDYuMS0yLjgsMTQuNSwzLjMsMTguOGMxLjcsMS4yLDQxLjUsMjguOSw5MS4zLDQxLjcgICAgYzIzLjMsOC4zLDI1LjksMzMuMiwyNi42LDU2YzAsMC45LDAsMS43LDAuMSwyLjVjMC4xLDktMC41LDIyLjktMi4xLDMwLjljLTE2LjIsOS4yLTc5LjcsNDEtMTc2LjMsNDEgICAgYy05Ni4yLDAtMTYwLjEtMzEuOS0xNzYuNC00MS4xYy0xLjYtOC0yLjMtMjEuOS0yLjEtMzAuOWMwLTAuOCwwLjEtMS42LDAuMS0yLjVjMC43LTIyLjgsMy4zLTQ3LjcsMjYuNi01NiAgICBjNDkuOC0xMi44LDg5LjYtNDAuNiw5MS4zLTQxLjdjNi4xLTQuMyw3LjYtMTIuNywzLjMtMTguOGMtNC4zLTYuMS0xMi43LTcuNi0xOC44LTMuM2MtMC40LDAuMy0zNy43LDI2LjMtODMsMzcuOCAgICBjLTAuNCwwLjEtMC43LDAuMi0xLDAuM2MtNDMuNCwxNC45LTQ0LjcsNjEuMi00NS4zLDgwLjljMCwwLjksMCwxLjctMC4xLDIuNWMwLDAuMSwwLDAuMiwwLDAuM2MtMC4xLDUuMi0wLjIsMzEuOSw1LjEsNDUuMyAgICBjMSwyLjYsMi44LDQuOCw1LjIsNi4zYzMsMiw3NC45LDQ3LjgsMTk1LjIsNDcuOHMxOTIuMi00NS45LDE5NS4yLTQ3LjhjMi4zLTEuNSw0LjItMy43LDUuMi02LjMgICAgQzQ0Nyw0MTUuNSw0NDYuOSwzODguOCw0NDYuOCwzODMuNnoiIGRhdGEtb3JpZ2luYWw9IiMwMDAwMDAiIGNsYXNzPSJhY3RpdmUtcGF0aCIgc3R5bGU9ImZpbGw6I0YxNTkyQSIgZGF0YS1vbGRfY29sb3I9IiNmMTU5MmEiPjwvcGF0aD4KCTwvZz4KPC9nPjwvZz4gPC9zdmc+');
                }
            }
        }
        time {
            &.posted-on {
                margin-right: $all-zero + 60;
                // &.updated {
                //     @extend span.screen-reader-text;
                // }
                &:before {
                    background-image: url('data:image/svg+xml;base64,
                    PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNTEyIDUxMjsiIHhtbDpzcGFjZT0icHJlc2VydmUiIHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIj48Zz48Zz4KCTxnPgoJCTxnPgoJCQk8Y2lyY2xlIGN4PSIzODYiIGN5PSIyMTAiIHI9IjIwIiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIiBjbGFzcz0iYWN0aXZlLXBhdGgiIHN0eWxlPSJmaWxsOiNGMTU5MkEiIGRhdGEtb2xkX2NvbG9yPSIjZjE1OTJhIj48L2NpcmNsZT4KCQkJPHBhdGggZD0iTTQzMiw0MGgtMjZWMjBjMC0xMS4wNDYtOC45NTQtMjAtMjAtMjBjLTExLjA0NiwwLTIwLDguOTU0LTIwLDIwdjIwaC05MVYyMGMwLTExLjA0Ni04Ljk1NC0yMC0yMC0yMCAgICAgYy0xMS4wNDYsMC0yMCw4Ljk1NC0yMCwyMHYyMGgtOTBWMjBjMC0xMS4wNDYtOC45NTQtMjAtMjAtMjBzLTIwLDguOTU0LTIwLDIwdjIwSDgwQzM1Ljg4OCw0MCwwLDc1Ljg4OCwwLDEyMHYzMTIgICAgIGMwLDQ0LjExMiwzNS44ODgsODAsODAsODBoMTUzYzExLjA0NiwwLDIwLTguOTU0LDIwLTIwYzAtMTEuMDQ2LTguOTU0LTIwLTIwLTIwSDgwYy0yMi4wNTYsMC00MC0xNy45NDQtNDAtNDBWMTIwICAgICBjMC0yMi4wNTYsMTcuOTQ0LTQwLDQwLTQwaDI1djIwYzAsMTEuMDQ2LDguOTU0LDIwLDIwLDIwczIwLTguOTU0LDIwLTIwVjgwaDkwdjIwYzAsMTEuMDQ2LDguOTU0LDIwLDIwLDIwczIwLTguOTU0LDIwLTIwVjgwaDkxICAgICB2MjBjMCwxMS4wNDYsOC45NTQsMjAsMjAsMjBjMTEuMDQ2LDAsMjAtOC45NTQsMjAtMjBWODBoMjZjMjIuMDU2LDAsNDAsMTcuOTQ0LDQwLDQwdjExNGMwLDExLjA0Niw4Ljk1NCwyMCwyMCwyMCAgICAgYzExLjA0NiwwLDIwLTguOTU0LDIwLTIwVjEyMEM1MTIsNzUuODg4LDQ3Ni4xMTIsNDAsNDMyLDQweiIgZGF0YS1vcmlnaW5hbD0iIzAwMDAwMCIgY2xhc3M9ImFjdGl2ZS1wYXRoIiBzdHlsZT0iZmlsbDojRjE1OTJBIiBkYXRhLW9sZF9jb2xvcj0iI2YxNTkyYSI+PC9wYXRoPgoJCQk8cGF0aCBkPSJNMzkxLDI3MGMtNjYuNzIsMC0xMjEsNTQuMjgtMTIxLDEyMXM1NC4yOCwxMjEsMTIxLDEyMXMxMjEtNTQuMjgsMTIxLTEyMVM0NTcuNzIsMjcwLDM5MSwyNzB6IE0zOTEsNDcyICAgICBjLTQ0LjY2MywwLTgxLTM2LjMzNi04MS04MXMzNi4zMzctODEsODEtODFjNDQuNjYzLDAsODEsMzYuMzM2LDgxLDgxUzQzNS42NjMsNDcyLDM5MSw0NzJ6IiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIiBjbGFzcz0iYWN0aXZlLXBhdGgiIHN0eWxlPSJmaWxsOiNGMTU5MkEiIGRhdGEtb2xkX2NvbG9yPSIjZjE1OTJhIj48L3BhdGg+CgkJCTxwYXRoIGQ9Ik00MjAsMzcxaC05di0yMWMwLTExLjA0Ni04Ljk1NC0yMC0yMC0yMGMtMTEuMDQ2LDAtMjAsOC45NTQtMjAsMjB2NDFjMCwxMS4wNDYsOC45NTQsMjAsMjAsMjBoMjkgICAgIGMxMS4wNDYsMCwyMC04Ljk1NCwyMC0yMEM0NDAsMzc5Ljk1NCw0MzEuMDQ2LDM3MSw0MjAsMzcxeiIgZGF0YS1vcmlnaW5hbD0iIzAwMDAwMCIgY2xhc3M9ImFjdGl2ZS1wYXRoIiBzdHlsZT0iZmlsbDojRjE1OTJBIiBkYXRhLW9sZF9jb2xvcj0iI2YxNTkyYSI+PC9wYXRoPgoJCQk8Y2lyY2xlIGN4PSIyOTkiIGN5PSIyMTAiIHI9IjIwIiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIiBjbGFzcz0iYWN0aXZlLXBhdGgiIHN0eWxlPSJmaWxsOiNGMTU5MkEiIGRhdGEtb2xkX2NvbG9yPSIjZjE1OTJhIj48L2NpcmNsZT4KCQkJPGNpcmNsZSBjeD0iMjEyIiBjeT0iMjk3IiByPSIyMCIgZGF0YS1vcmlnaW5hbD0iIzAwMDAwMCIgY2xhc3M9ImFjdGl2ZS1wYXRoIiBzdHlsZT0iZmlsbDojRjE1OTJBIiBkYXRhLW9sZF9jb2xvcj0iI2YxNTkyYSI+PC9jaXJjbGU+CgkJCTxjaXJjbGUgY3g9IjEyNSIgY3k9IjIxMCIgcj0iMjAiIGRhdGEtb3JpZ2luYWw9IiMwMDAwMDAiIGNsYXNzPSJhY3RpdmUtcGF0aCIgc3R5bGU9ImZpbGw6I0YxNTkyQSIgZGF0YS1vbGRfY29sb3I9IiNmMTU5MmEiPjwvY2lyY2xlPgoJCQk8Y2lyY2xlIGN4PSIxMjUiIGN5PSIyOTciIHI9IjIwIiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIiBjbGFzcz0iYWN0aXZlLXBhdGgiIHN0eWxlPSJmaWxsOiNGMTU5MkEiIGRhdGEtb2xkX2NvbG9yPSIjZjE1OTJhIj48L2NpcmNsZT4KCQkJPGNpcmNsZSBjeD0iMTI1IiBjeT0iMzg0IiByPSIyMCIgZGF0YS1vcmlnaW5hbD0iIzAwMDAwMCIgY2xhc3M9ImFjdGl2ZS1wYXRoIiBzdHlsZT0iZmlsbDojRjE1OTJBIiBkYXRhLW9sZF9jb2xvcj0iI2YxNTkyYSI+PC9jaXJjbGU+CgkJCTxjaXJjbGUgY3g9IjIxMiIgY3k9IjM4NCIgcj0iMjAiIGRhdGEtb3JpZ2luYWw9IiMwMDAwMDAiIGNsYXNzPSJhY3RpdmUtcGF0aCIgc3R5bGU9ImZpbGw6I0YxNTkyQSIgZGF0YS1vbGRfY29sb3I9IiNmMTU5MmEiPjwvY2lyY2xlPgoJCQk8Y2lyY2xlIGN4PSIyMTIiIGN5PSIyMTAiIHI9IjIwIiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIiBjbGFzcz0iYWN0aXZlLXBhdGgiIHN0eWxlPSJmaWxsOiNGMTU5MkEiIGRhdGEtb2xkX2NvbG9yPSIjZjE1OTJhIj48L2NpcmNsZT4KCQk8L2c+Cgk8L2c+CjwvZz48L2c+IDwvc3ZnPg==');
                }
            }
        }
    }
    figure {
        margin-bottom: $all-zero + 30;
        width: $smallick-grid-width-100 / 1.06;
        @extend .u-oflowhidden;
        a, img {
            @extend .u-width-100;
            @extend .u-height-100;
            @extend .u-display-block;
        }
        img {
            @extend .u-no-bot-margin;
            @extend .u-objfit-cover;
            @extend .u-obj-pos-center-middle;
        }
    }
    p {
        margin-bottom: $font-size-global + 4;
    }
    &--list {
        figure {
            height: $all-zero + 300;
        }
        .nav-links {
            .page-numbers {
                background-color: $white;
                border: $gray-mid solid $all-zero + 1;
                height: $all-zero + 40;
                font-weight: $weight-medium;
                margin: $all-zero $all-zero + 2;
                padding: $all-zero + 5;
                line-height: $all-zero + 30;
                width: $all-zero + 40;
                @extend .u-border-radius-100;
                @extend .u-txtalign-center;
                @extend .u-txt-valign-middle;
                @extend .u-display-in-block;
                &.current,
                &:hover {
                    background-color: $red-matt;
                    border: $red-matt solid $all-zero + 1;
                    color: $white;
                }
                .meta-nav {
                    display: none;
                }
            }
            .prev.page-numbers svg,
            .next.page-numbers svg {
                display: none;
            }
        }
    }
    &--single {
        .post-navigation {
            .nav-links {
                @extend .u-oflowhidden;
                .nav-previous,
                .nav-next {
                    border: $gray-mid solid $all-zero + 1;
                    @extend .u-float-left;
                    a {
                        padding: $all-zero + 8;
                        height: $all-zero + 66;
                        @extend .u-display-block;
                    }
                    img {
                        height: $all-zero + 50;
                        width: $all-zero + 85;
                        @extend .u-objfit-cover;
                        @extend .u-no-bot-margin;
                    }
                    span {
                        color: $brand-primary;
                        font-size: $font-size-global;
                        font-weight: $weight-semibold;
                        line-height: $font-size-global * 3;
                        padding: $all-zero $all-zero + 55;
                        @extend .u-display-in-block;
                        @extend .u-txt-uppercase;
                    }
                }
                .nav-previous {
                    a {
                        background-color: $gray-light;
                        &:hover {
                            background-color: darken($gray-light, 5%);
                        }
                    }
                }
                .nav-next {
                    border-left: none;
                    a {
                        background-color: $white;
                        &:hover {
                            background-color: lighten($gray-mid, 5%);
                        }
                    }
                }
            }
        }
    }
    nav {
        &.navigation {
            h2 {
                &.screen-reader-text {
                    display: none;
                }
            }
        }
    }
}




