// input fields partial

.c-form {
    p {
        @extend .u-cmn-botmargin;
        &:last-child
        //&:nth-last-of-type(2)
        {
            //@extend .u-no-bot-margin;
        }

    }
    label {
        font-size: $font-size-global + 1;
        font-weight: normal;
        @extend .u-display-block;
        span {
            color: $red;
        }
    }
    input[type="text"],
    input[type="url"],
    input[type="tel"],
    input[type="email"],
    input[type="search"],
    textarea {
        @extend .u-no-border;
        @extend .u-width-100;
        @extend .u-transparent;
        @extend .u-display-block;
        outline: none;
        border-bottom-style: solid !important;
        padding: $all-zero + 6 $all-zero + 8;
        border-bottom-width: $all-zero + 1 !important;
        @include breakpoint(sm) {
            padding: $all-zero + 10 $all-zero + 12;
        }

    }
    textarea {
        height: $all-zero + 105;
        resize: vertical;
    }
    input,
    textarea {
        &::placeholder {
            opacity: 1;
        }
    }

    &--dark {
        input[type="text"],
        input[type="url"],
        input[type="tel"],
        input[type="email"],
        input[type="search"],
        textarea {
            border-bottom-color: $white-rgba !important;
            color: rgba($white-rgba, 0.8);
        }

        input,
        textarea {
            &::placeholder {
                color: rgba($white-rgba, 0.4);
            }
            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: rgba($white-rgba, 0.4);
            }
            &::-ms-input-placeholder { /* Microsoft Edge */
                color: rgba($white-rgba, 0.4);
            }
        }
        svg {
            fill: $white-rgba;
        }
    }
    &--light {
        input[type="text"],
        input[type="url"],
        input[type="tel"],
        input[type="email"],
        input[type="search"],
        textarea {
            border-bottom-color: $black-rgba !important;
            color: rgba($black-rgba, 0.8);
        }

        input,
        textarea {
            &::placeholder {
                color: rgba($black-rgba, 0.4);
            }
            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: rgba($black-rgba, 0.4);
            }
            &::-ms-input-placeholder { /* Microsoft Edge */
                color: rgba($black-rgba, 0.4);
            }
        }
        svg {
            fill: $black-rgba;
        }
    }
}

.c-search {
    &--small {
        width: $font-size-global * 14;
        //@extend .u-relative;
        input[type="search"] {
            padding-right: $font-size-global * 2.5;
        }
    }
    &--ovrlay {
        bottom: $all-zero + 85;
        @extend .u-left-0;
        @extend .u-absolute;
        @include breakpoint(sm) {
            bottom: $all-zero + 36;
        }
    }
    &--large {
        bottom: inherit;
        @extend .u-width-100;
        @extend .u-translate-y50;
    }
    button {
        top: $all-zero + 6;
        @extend .u-right-0;
        @extend .u-absolute;
        @extend .u-no-border;
        @extend .u-transparent;
        @include breakpoint(sm) {
            top: $all-zero + 12;
        }
        &.c-btn {
            padding: $all-zero $all-zero + 10;
            height: $font-size-global * 2 - 2;
            line-height: $font-size-global * 2 - 2;
            @extend .u-no-top-margin;
        }
    }
}


