// All social icons partial

.c-social {
    font-size: $font-size-global + 4;
    @extend .u-no-bot-margin;
    li {
        margin: $all-zero $all-zero + 10;
        @extend .u-display-in-block;
        &:first-child {
            @extend .u-no-left-margin;
        }
        &:last-child {
            @extend .u-no-right-margin;
        }
        a {

            svg {
                width: $font-size-global + 4;
                top: $all-zero + 3;
                @extend .u-relative;
            }
        }
    }
    &--dark {
        li {
            a {
                color: $black-rgba-solid-lighten-60;
                &:hover {
                    color: $white-rgba;
                    svg {
                        fill: $white-rgba;
                    }
                }
                svg {
                    fill: $black-rgba-solid-lighten-60;
                }
            }
        }
    }
    &--light {
        li {
            a {
                color: $black-rgba-solid-lighten-40;
                &:hover {
                    color: $black-rgba;
                    svg {
                        fill: $black-rgba;
                    }
                }
                svg {
                    fill: $black-rgba-solid-lighten-40;
                }
            }
        }
    }
    &--home {
        // padding-bottom: $font-size-global * 2;
        @include breakpoint(sm) {
            right: $all-zero + 30;
            bottom: $all-zero + 36;
            position: absolute;
            li {
                a {
                    color: $white-rgba;
                    svg {
                        fill: $white-rgba;
                    }
                    &:hover {
                        color: rgba($white-rgba, 0.5);
                        svg {
                            fill: rgba($white-rgba, 0.5);
                        }
                    }
                }
            }
        }
        li {
            a {

            }
        }
    }
    &--ovrlay {
        bottom: $all-zero + 30;
        @extend .u-left-0;
        @extend .u-absolute;
        @include breakpoint(sm) {
            bottom: $all-zero + 36;
            left: inherit;
            right: $all-zero;
        }
    }
    &--header {

    }
    &--footer {
        margin-top: $font-size-global + 4;
        @include breakpoint(sm) {
            margin-top: $all-zero;
        }
    }
}


