// All banner partial

.o-banner {
    .c-banner {
        @extend .u-bg-cover;
        @extend .u-bg-norepeat;
        @extend .u-bg-pos-center-middle;
        &--top {
            height: $smallick-grid-height-100vh / 2;
            margin-top: $smallick-grid-height-100vh / 5;
            @include breakpoint(sm) {
                height: $smallick-grid-height-100vh / 2.5;
            }
            @include breakpoint(md) {
                background-attachment: fixed;
                height: $smallick-grid-height-100vh / 2.857142;
                margin-top: $smallick-grid-height-100vh / 4;
            }
            &--inrpagefulhght {
                @include breakpoint(sm) {
                    margin-top: $all-zero;
                    height: $smallick-grid-height-100vh;
                }
            }
            &--contactpageonly {
                margin-top: $all-zero;
                height: $smallick-grid-height-100vh;
                @include breakpoint(md) {
                    height: $smallick-grid-height-100vh / 1.25;
                }
                .o-social {
                    @extend .u-display-none;
                    @include breakpoint(xxs) {
                        display: block;
                    }
                }
            }
        }

        &__inner {
            @extend .u-height-100;
        }
    }
}



