// Box partial

.c-box {
    @extend .u-relative;
    .c-title, h1, h2, h3, h4, h5, h6 {
        @extend .u-no-top-margin;
    }

    // box with solid border
    &--border-solid {
        border-width: $all-zero + 1;
        border-style: solid;
        &--light {
            border-color: $white-rgba;
        }
        &--dark {
            border-color: $black-rgba;
        }
        &--opacity0 {
            border-color: rgba($white-rgba, 0);
            @extend .u-transition-500;
        }
        &--opacity1 {
            border-color: rgba($white-rgba, 0.6);
            @extend .u-transition-500;
        }
    }

    &--no-border {
        @extend .u-no-border;
    }

    // box and background

    // box with no bg
    &--nobg {
        @extend .u-transparent;
    }

    // box with transparent bg
    &--bg-transparent {
        &--light {
            background-color: rgba($white-rgba, 0.2);
        }
        &--dark {
            background-color: rgba($black-rgba, 0.2);
        }
    }

    // box with solid bg
    &--bg-solid {
        &--light {
            background-color: $white-rgba;
        }
        &--dark {
            background-color: $black-rgba;
        }
    }

    // box padding
    &--padding {
        padding: 0.5em 1.3em 0.35em;
    }
}


