// All titles partial

.c-title {
    @extend .u-relative;
    //@extend .u-txt-capitalize;
    font-weight: $weight-normal;
    @include breakpoint(xxs) {
        letter-spacing: $all-zero + 2;
    }
    // super text
    &--suptxt {
        @extend .u-display-in-block;
        // @extend .u-txt-lowercase;
        @extend .u-txt-smallcaps;
        // @extend .u-txt-capitalize;
        span {
            font-weight: $weight-medium;
            font-size: $font-size-global;
            letter-spacing: $all-zero + 4;
            font-family: $applesymbols-font-family;
            @extend .u-txtalign-left;
            @extend .u-cmn-botmargin;
            @extend .u-txt-uppercase;
            @extend .u-display-block;
            @extend .u-relative;
            span {
                padding-top: $all-zero + 6;
                @extend .u-display-in-block;
                @extend .u-no-bot-margin;
                &:before,
                &:after {
                    @extend .u-width-100;
                }
                @include breakpoint(lg) {
                    padding-top: $all-zero + 10;
                }
            }
        }
        @include breakpoint(sm) {
            text-align: center;
        }
        &--dark {
            span {
                span {
                    color: $white-rgba-solid-darken-60;
                }
            }
        }
        &--light {
            span {
                span {
                    color: $white-rgba;
                }
            }
        }
    }

    // color
    &--dark {
        color: rgba($black-rgba, 0.7);
    }
    &--light {
        color: $white-rgba;
    }


    // margin
    &--notopmargin {
        @extend .u-no-top-margin;
    }



    // pages inner
    &--page {
        height: $smallick-grid-height-100vh / 2 - 20;
        background-color: $black-rgba-solid-lighten-09;
        @include breakpoint(sm) {
            height: auto;
            bottom: $all-zero;
            position: absolute;
            background-color: transparent;
        }
        .c-title {
            @extend .u-no-bot-margin;
        }
    }

    // page type
    &--404 {
        @include font-size($h1-404);
        span {
            text-decoration: underline;
        }
    }
}


