// All titles partial

.c-title {
    @extend .u-relative;
    // color
    &--blue {
        color: $brand-primary;
    }
    &--yellow {
        color: $brand-secondary;
    }


    // margin
    &--no-top-margin {
        @extend .u-no-top-margin;
    }


    // type
    &--404 {
        @include font-size($h1-404);
        span {
            text-decoration: underline;
        }
    }



    // border

    // border position
    // &--border {
    //     &:before {
    //         content: "";
    //         height: $all-zero + 3;
    //         width: $all-zero + 25;
    //         @extend .u-absolute;
    //     }

    //     &--top {

    //     }
    //     &--bottom {
    //         bottom: $all-zero;
    //     }
    // }

    // border color
    // &--yellow {
    //     background-color: $brand-secondary;
    // }



    // icon
    &--icon {
        padding-left: $all-zero + 35;
        &:before {
            content: "";
            height: $all-zero + 25;
            max-width: 256px;
            max-height: 256px;
            width: $all-zero + 25;
            @extend .u-absolute;
            @extend .u-left-0;
            @extend .u-translate-y50;
            @extend .u-bg-contain;
            @extend .u-bg-norepeat;
            @extend .u-bg-pos-center-middle;
        }
        &--location {
            &:before {
                background-image: url('data:image/svg+xml;base64,
                PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNDc3IDQ3NyIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNDc3IDQ3NzsiIHhtbDpzcGFjZT0icHJlc2VydmUiIHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIiBjbGFzcz0iIj48Zz48Zz4KCTxnPgoJCTxwYXRoIGQ9Ik0yMzguNCwwQzEzMywwLDQ3LjIsODUuOCw0Ny4yLDE5MS4yYzAsMTIsMS4xLDI0LjEsMy40LDM1LjljMC4xLDAuNywwLjUsMi44LDEuMyw2LjRjMi45LDEyLjksNy4yLDI1LjYsMTIuOCwzNy43ICAgIGMyMC42LDQ4LjUsNjUuOSwxMjMsMTY1LjMsMjAyLjhjMi41LDIsNS41LDMsOC41LDNzNi0xLDguNS0zYzk5LjMtNzkuOCwxNDQuNy0xNTQuMywxNjUuMy0yMDIuOGM1LjYtMTIuMSw5LjktMjQuNywxMi44LTM3LjcgICAgYzAuOC0zLjYsMS4yLTUuNywxLjMtNi40YzIuMi0xMS44LDMuNC0yMy45LDMuNC0zNS45QzQyOS42LDg1LjgsMzQzLjgsMCwyMzguNCwweiBNMzk5LjYsMjIyLjRjMCwwLjItMC4xLDAuNC0wLjEsMC42ICAgIGMtMC4xLDAuNS0wLjQsMi0wLjksNC4zYzAsMC4xLDAsMC4xLDAsMC4yYy0yLjUsMTEuMi02LjIsMjIuMS0xMS4xLDMyLjZjLTAuMSwwLjEtMC4xLDAuMy0wLjIsMC40ICAgIGMtMTguNyw0NC4zLTU5LjcsMTExLjktMTQ4LjksMTg1LjZjLTg5LjItNzMuNy0xMzAuMi0xNDEuMy0xNDguOS0xODUuNmMtMC4xLTAuMS0wLjEtMC4zLTAuMi0wLjRjLTQuOC0xMC40LTguNS0yMS40LTExLjEtMzIuNiAgICBjMC0wLjEsMC0wLjEsMC0wLjJjLTAuNi0yLjMtMC44LTMuOC0wLjktNC4zYzAtMC4yLTAuMS0wLjQtMC4xLTAuN2MtMi0xMC4zLTMtMjAuNy0zLTMxLjJjMC05MC41LDczLjctMTY0LjIsMTY0LjItMTY0LjIgICAgczE2NC4yLDczLjcsMTY0LjIsMTY0LjJDNDAyLjYsMjAxLjcsNDAxLjYsMjEyLjIsMzk5LjYsMjIyLjR6IiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIiBjbGFzcz0iYWN0aXZlLXBhdGgiIHN0eWxlPSJmaWxsOiNGNkY2RjYiIGRhdGEtb2xkX2NvbG9yPSIjZjZmNmY2Ij48L3BhdGg+CgkJPHBhdGggZD0iTTIzOC40LDcxLjljLTY2LjksMC0xMjEuNCw1NC41LTEyMS40LDEyMS40czU0LjUsMTIxLjQsMTIxLjQsMTIxLjRzMTIxLjQtNTQuNSwxMjEuNC0xMjEuNFMzMDUuMyw3MS45LDIzOC40LDcxLjl6ICAgICBNMjM4LjQsMjg3LjdjLTUyLjEsMC05NC40LTQyLjQtOTQuNC05NC40czQyLjQtOTQuNCw5NC40LTk0LjRzOTQuNCw0Mi40LDk0LjQsOTQuNFMyOTAuNSwyODcuNywyMzguNCwyODcuN3oiIGRhdGEtb3JpZ2luYWw9IiMwMDAwMDAiIGNsYXNzPSJhY3RpdmUtcGF0aCIgc3R5bGU9ImZpbGw6I0Y2RjZGNiIgZGF0YS1vbGRfY29sb3I9IiNmNmY2ZjYiPjwvcGF0aD4KCTwvZz4KPC9nPjwvZz4gPC9zdmc+');
            }
        }
        &--callus {
            &:before {
                background-image: url('data:image/svg+xml;base64,
                PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNDczLjgwNiA0NzMuODA2IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA0NzMuODA2IDQ3My44MDY7IiB4bWw6c3BhY2U9InByZXNlcnZlIiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgY2xhc3M9IiI+PGc+PGc+Cgk8Zz4KCQk8cGF0aCBkPSJNMzc0LjQ1NiwyOTMuNTA2Yy05LjctMTAuMS0yMS40LTE1LjUtMzMuOC0xNS41Yy0xMi4zLDAtMjQuMSw1LjMtMzQuMiwxNS40bC0zMS42LDMxLjVjLTIuNi0xLjQtNS4yLTIuNy03LjctNCAgICBjLTMuNi0xLjgtNy0zLjUtOS45LTUuM2MtMjkuNi0xOC44LTU2LjUtNDMuMy04Mi4zLTc1Yy0xMi41LTE1LjgtMjAuOS0yOS4xLTI3LTQyLjZjOC4yLTcuNSwxNS44LTE1LjMsMjMuMi0yMi44ICAgIGMyLjgtMi44LDUuNi01LjcsOC40LTguNWMyMS0yMSwyMS00OC4yLDAtNjkuMmwtMjcuMy0yNy4zYy0zLjEtMy4xLTYuMy02LjMtOS4zLTkuNWMtNi02LjItMTIuMy0xMi42LTE4LjgtMTguNiAgICBjLTkuNy05LjYtMjEuMy0xNC43LTMzLjUtMTQuN3MtMjQsNS4xLTM0LDE0LjdjLTAuMSwwLjEtMC4xLDAuMS0wLjIsMC4ybC0zNCwzNC4zYy0xMi44LDEyLjgtMjAuMSwyOC40LTIxLjcsNDYuNSAgICBjLTIuNCwyOS4yLDYuMiw1Ni40LDEyLjgsNzQuMmMxNi4yLDQzLjcsNDAuNCw4NC4yLDc2LjUsMTI3LjZjNDMuOCw1Mi4zLDk2LjUsOTMuNiwxNTYuNywxMjIuN2MyMywxMC45LDUzLjcsMjMuOCw4OCwyNiAgICBjMi4xLDAuMSw0LjMsMC4yLDYuMywwLjJjMjMuMSwwLDQyLjUtOC4zLDU3LjctMjQuOGMwLjEtMC4yLDAuMy0wLjMsMC40LTAuNWM1LjItNi4zLDExLjItMTIsMTcuNS0xOC4xYzQuMy00LjEsOC43LTguNCwxMy0xMi45ICAgIGM5LjktMTAuMywxNS4xLTIyLjMsMTUuMS0zNC42YzAtMTIuNC01LjMtMjQuMy0xNS40LTM0LjNMMzc0LjQ1NiwyOTMuNTA2eiBNNDEwLjI1NiwzOTguODA2ICAgIEM0MTAuMTU2LDM5OC44MDYsNDEwLjE1NiwzOTguOTA2LDQxMC4yNTYsMzk4LjgwNmMtMy45LDQuMi03LjksOC0xMi4yLDEyLjJjLTYuNSw2LjItMTMuMSwxMi43LTE5LjMsMjAgICAgYy0xMC4xLDEwLjgtMjIsMTUuOS0zNy42LDE1LjljLTEuNSwwLTMuMSwwLTQuNi0wLjFjLTI5LjctMS45LTU3LjMtMTMuNS03OC0yMy40Yy01Ni42LTI3LjQtMTA2LjMtNjYuMy0xNDcuNi0xMTUuNiAgICBjLTM0LjEtNDEuMS01Ni45LTc5LjEtNzItMTE5LjljLTkuMy0yNC45LTEyLjctNDQuMy0xMS4yLTYyLjZjMS0xMS43LDUuNS0yMS40LDEzLjgtMjkuN2wzNC4xLTM0LjFjNC45LTQuNiwxMC4xLTcuMSwxNS4yLTcuMSAgICBjNi4zLDAsMTEuNCwzLjgsMTQuNiw3YzAuMSwwLjEsMC4yLDAuMiwwLjMsMC4zYzYuMSw1LjcsMTEuOSwxMS42LDE4LDE3LjljMy4xLDMuMiw2LjMsNi40LDkuNSw5LjdsMjcuMywyNy4zICAgIGMxMC42LDEwLjYsMTAuNiwyMC40LDAsMzFjLTIuOSwyLjktNS43LDUuOC04LjYsOC42Yy04LjQsOC42LTE2LjQsMTYuNi0yNS4xLDI0LjRjLTAuMiwwLjItMC40LDAuMy0wLjUsMC41ICAgIGMtOC42LDguNi03LDE3LTUuMiwyMi43YzAuMSwwLjMsMC4yLDAuNiwwLjMsMC45YzcuMSwxNy4yLDE3LjEsMzMuNCwzMi4zLDUyLjdsMC4xLDAuMWMyNy42LDM0LDU2LjcsNjAuNSw4OC44LDgwLjggICAgYzQuMSwyLjYsOC4zLDQuNywxMi4zLDYuN2MzLjYsMS44LDcsMy41LDkuOSw1LjNjMC40LDAuMiwwLjgsMC41LDEuMiwwLjdjMy40LDEuNyw2LjYsMi41LDkuOSwyLjVjOC4zLDAsMTMuNS01LjIsMTUuMi02LjkgICAgbDM0LjItMzQuMmMzLjQtMy40LDguOC03LjUsMTUuMS03LjVjNi4yLDAsMTEuMywzLjksMTQuNCw3LjNjMC4xLDAuMSwwLjEsMC4xLDAuMiwwLjJsNTUuMSw1NS4xICAgIEM0MjAuNDU2LDM3Ny43MDYsNDIwLjQ1NiwzODguMjA2LDQxMC4yNTYsMzk4LjgwNnoiIGRhdGEtb3JpZ2luYWw9IiMwMDAwMDAiIGNsYXNzPSJhY3RpdmUtcGF0aCIgc3R5bGU9ImZpbGw6I0Y2RjZGNiIgZGF0YS1vbGRfY29sb3I9IiNmNmY2ZjYiPjwvcGF0aD4KCQk8cGF0aCBkPSJNMjU2LjA1NiwxMTIuNzA2YzI2LjIsNC40LDUwLDE2LjgsNjksMzUuOHMzMS4zLDQyLjgsMzUuOCw2OWMxLjEsNi42LDYuOCwxMS4yLDEzLjMsMTEuMmMwLjgsMCwxLjUtMC4xLDIuMy0wLjIgICAgYzcuNC0xLjIsMTIuMy04LjIsMTEuMS0xNS42Yy01LjQtMzEuNy0yMC40LTYwLjYtNDMuMy04My41cy01MS44LTM3LjktODMuNS00My4zYy03LjQtMS4yLTE0LjMsMy43LTE1LjYsMTEgICAgUzI0OC42NTYsMTExLjUwNiwyNTYuMDU2LDExMi43MDZ6IiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIiBjbGFzcz0iYWN0aXZlLXBhdGgiIHN0eWxlPSJmaWxsOiNGNkY2RjYiIGRhdGEtb2xkX2NvbG9yPSIjZjZmNmY2Ij48L3BhdGg+CgkJPHBhdGggZD0iTTQ3My4yNTYsMjA5LjAwNmMtOC45LTUyLjItMzMuNS05OS43LTcxLjMtMTM3LjVzLTg1LjMtNjIuNC0xMzcuNS03MS4zYy03LjMtMS4zLTE0LjIsMy43LTE1LjUsMTEgICAgYy0xLjIsNy40LDMuNywxNC4zLDExLjEsMTUuNmM0Ni42LDcuOSw4OS4xLDMwLDEyMi45LDYzLjdjMzMuOCwzMy44LDU1LjgsNzYuMyw2My43LDEyMi45YzEuMSw2LjYsNi44LDExLjIsMTMuMywxMS4yICAgIGMwLjgsMCwxLjUtMC4xLDIuMy0wLjJDNDY5LjU1NiwyMjMuMzA2LDQ3NC41NTYsMjE2LjMwNiw0NzMuMjU2LDIwOS4wMDZ6IiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIiBjbGFzcz0iYWN0aXZlLXBhdGgiIHN0eWxlPSJmaWxsOiNGNkY2RjYiIGRhdGEtb2xkX2NvbG9yPSIjZjZmNmY2Ij48L3BhdGg+Cgk8L2c+CjwvZz48L2c+IDwvc3ZnPg==');
            }
        }
        &--emailus {
            &:before {
                background-image: url('data:image/svg+xml;base64,
                PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNDgzLjMgNDgzLjMiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQ4My4zIDQ4My4zOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgd2lkdGg9IjUxMiIgaGVpZ2h0PSI1MTIiIGNsYXNzPSIiPjxnPjxnPgoJPGc+CgkJPHBhdGggZD0iTTQyNC4zLDU3Ljc1SDU5LjFjLTMyLjYsMC01OS4xLDI2LjUtNTkuMSw1OS4xdjI0OS42YzAsMzIuNiwyNi41LDU5LjEsNTkuMSw1OS4xaDM2NS4xYzMyLjYsMCw1OS4xLTI2LjUsNTkuMS01OS4xICAgIHYtMjQ5LjVDNDgzLjQsODQuMzUsNDU2LjksNTcuNzUsNDI0LjMsNTcuNzV6IE00NTYuNCwzNjYuNDVjMCwxNy43LTE0LjQsMzIuMS0zMi4xLDMyLjFINTkuMWMtMTcuNywwLTMyLjEtMTQuNC0zMi4xLTMyLjF2LTI0OS41ICAgIGMwLTE3LjcsMTQuNC0zMi4xLDMyLjEtMzIuMWgzNjUuMWMxNy43LDAsMzIuMSwxNC40LDMyLjEsMzIuMXYyNDkuNUg0NTYuNHoiIGRhdGEtb3JpZ2luYWw9IiMwMDAwMDAiIGNsYXNzPSJhY3RpdmUtcGF0aCIgc3R5bGU9ImZpbGw6I0Y2RjZGNiIgZGF0YS1vbGRfY29sb3I9IiNmNmY2ZjYiPjwvcGF0aD4KCQk8cGF0aCBkPSJNMzA0LjgsMjM4LjU1bDExOC4yLTEwNmM1LjUtNSw2LTEzLjUsMS0xOS4xYy01LTUuNS0xMy41LTYtMTkuMS0xbC0xNjMsMTQ2LjNsLTMxLjgtMjguNGMtMC4xLTAuMS0wLjItMC4yLTAuMi0wLjMgICAgYy0wLjctMC43LTEuNC0xLjMtMi4yLTEuOUw3OC4zLDExMi4zNWMtNS42LTUtMTQuMS00LjUtMTkuMSwxLjFjLTUsNS42LTQuNSwxNC4xLDEuMSwxOS4xbDExOS42LDEwNi45TDYwLjgsMzUwLjk1ICAgIGMtNS40LDUuMS01LjcsMTMuNi0wLjYsMTkuMWMyLjcsMi44LDYuMyw0LjMsOS45LDQuM2MzLjMsMCw2LjYtMS4yLDkuMi0zLjZsMTIwLjktMTEzLjFsMzIuOCwyOS4zYzIuNiwyLjMsNS44LDMuNCw5LDMuNCAgICBjMy4yLDAsNi41LTEuMiw5LTMuNWwzMy43LTMwLjJsMTIwLjIsMTE0LjJjMi42LDIuNSw2LDMuNyw5LjMsMy43YzMuNiwwLDcuMS0xLjQsOS44LTQuMmM1LjEtNS40LDQuOS0xNC0wLjUtMTkuMUwzMDQuOCwyMzguNTV6IiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIiBjbGFzcz0iYWN0aXZlLXBhdGgiIHN0eWxlPSJmaWxsOiNGNkY2RjYiIGRhdGEtb2xkX2NvbG9yPSIjZjZmNmY2Ij48L3BhdGg+Cgk8L2c+CjwvZz48L2c+IDwvc3ZnPg==');
            }
        }
    }
}


