// All descriptions partial

.c-desc {
    color: rgba($black-rgba, 0.6);
    @extend .u-relative;
    @include breakpoint(xxs) {
        letter-spacing: $all-zero + 1;
    }
    p {
        color: rgba($black-rgba, 0.6);
        margin-bottom: $font-size-global * 1.5;
    }

    //
    &--type1 {
        padding-top: $font-size-global * 3.5;
        @extend .u-width-100;
        @extend .u-block-elm-center;
        @include breakpoint(sm) {
            width: $smallick-grid-width-100 / 1.25;
        }
    }

    // desc with quotes
    &--quotes {
        quotes: "“" "”" "‘" "’";
        &:before,
        &:after {
            content: "";
            @extend .u-absolute;
        }

        // quotes over the desc area
        &--over {
            &:before {
                @extend .u-top-0;
            }

            // quotes pointed to the top left
            &--left {
                &:before {
                    content: open-quote;
                    left: $all-zero - 10;
                    color: rgba($black-rgba, 0.1);
                    font-size: $font-size-global * 8.75;
                    line-height: $font-size-global * 6 + 4;
                    font-family: "Times New Roman", Times, serif;
                    //@extend .u-left-0;
                    @include breakpoint(sm) {
                        left: $all-zero - 70;
                    }
                    @include breakpoint(lg) {
                        left: $all-zero - 100;
                        top: $all-zero - 10 !important;
                        font-size: $font-size-global * 13;
                        line-height: $font-size-global * 8.75;
                    }
                }
            }

            // quotes pointed to the top right
            &--right {
                &:before {
                    @extend .u-right-0;
                }
            }
        }

        // quotes under the desc area
        &--under {
            &:after {
                @extend .u-bot-0;
            }
            // quotes pointed to the bottom left
            &--left {
                &:after {
                    @extend .u-left-0;
                }
            }

            // quotes pointed to the bottom right
            &--right {
                &:after {
                    @extend .u-right-0;
                }
            }
        }
    }

    // blockquote
    &--blockquote {

        // positioned at the single pages
        &--single {
            blockquote {
                font-family: $font-family-headline;
                padding: $all-zero !important;
                padding-top: $font-size-global * 1.5 + 1 !important;
                padding-bottom: $font-size-global * 2.5 !important;
                @extend .u-relative;
                @extend .u-no-border;
                @extend .u-no-margin;
                //@extend .u-no-padding;
                @extend .u-transparent;
                margin-bottom: $font-size-global * 2.5 !important;

                &:after {
                    content: "";
                    height: $all-zero + 1;
                    width: $font-size-global * 5;
                    @extend .u-bot-0;
                    @extend .u-left-0;
                    @extend .u-absolute;
                }

                @include breakpoint(md) {
                    &:after {
                        width: $font-size-global * 10;
                    }
                }
                @include breakpoint(lg) {
                    letter-spacing: $all-zero + 2;
                    padding-top: $font-size-global * 2.5 !important;
                    padding-bottom: $font-size-global * 3.5 !important;
                    margin-bottom: $font-size-global * 3.5 !important;
                    &:after {
                        width: $font-size-global * 15;
                    }
                }
            }
        }


        &--biosec {
            @extend .c-desc--blockquote--single;
            blockquote,
            figure {
                @include breakpoint(md) {
                    // display: table-cell;
                    // vertical-align: top;
                }
            }
            blockquote {
                @include breakpoint(md) {
                    float: left;
                    width: $smallick-grid-width-100 / 1.8181;
                }
            }
            figure {
                margin-top: $font-size-global * 3 + 2 !important;
                @include breakpoint(md) {
                    float: right;
                    height: $font-size-global * 20;
                    width: $smallick-grid-width-100 / 2.5;
                    img {
                        object-fit: cover;
                        height: $smallick-grid-height-100;
                        object-position: $smallick-grid-width-100 / 2;
                    }
                }
                @include breakpoint(lg) {

                }
            }
        }


        // large first letter
        &--frstletterlarge {
            blockquote {
                &:first-letter {
                    font-size: $font-size-global * 3;
                    @include breakpoint(lg) {
                        font-size: $font-size-global * 4;
                    }
                }
            }
        }

        // theme

        // dark
        &--dark {
            blockquote {
                &:after {
                    background-color: rgba($black-rgba, 0.8);
                }
            }
        }

        // light
        &--light {
            blockquote {
                &:after {
                    background-color: rgba($white-rgba, 0.8);
                }
            }
        }
    }

    // image
    figure {
        margin-top: $font-size-global * 2.5;
        margin-bottom: $font-size-global * 2.5;
        figcaption {
            color: rgba($white-rgba, 1);
            margin-top: $font-size-global * 1.5;
            padding: $all-zero + 10;
            background-color: rgba($black-rgba, 0.9);
            @extend .u-display-in-block;
            @include breakpoint(md) {
                padding: $all-zero + 5 $all-zero + 10;
            }
        }
    }
}

