// all sliders partial

.c-slider {
    .slick-arrow {
        z-index: 5;
    }
    .slick-next{
        right: $all-zero + 30;
    }
    .slick-prev{
        left: $all-zero + 30;
    }
    .slick-list{
        height: $smallick-grid-height-100;
    }
    .slick-track{
        @extend .slick-list;
    }
    .slick-slide {
        @extend .slick-list;
        @extend .u-all-0;
    }
    .slick-dots{
        @extend .u-bot-0;
        li {
            height: $all-zero + 20;
            width: $font-size-global * 2 - 2;
            margin: $all-zero $all-zero + 8;
            @extend .u-transition-500;
            button {
                background-color: rgba($white-rgba, 0.5);
                height: $all-zero + 1;
                @extend .u-width-100;
                @extend .u-no-padding;
                @extend .u-display-block;
                @extend .u-transition-500;
                &:before {
                    width: auto;
                    height: auto;
                    font-size: $all-zero;
                    line-height: $all-zero;
                }
            }
            &.slick-active {
                button {
                    height: $all-zero + 2;
                    background-color: rgba($white-rgba, 1);
                }
            }
        }
    }
    figure {
        @extend .u-width-100;
        @extend .u-height-100;
        @extend .u-display-block;
        img {
            @extend .u-width-100;
            @extend .u-height-100;
            @extend .u-objfit-cover;
            @extend .u-display-block;
            @extend .u-obj-pos-center-middle;
        }
    }

    // slider for home page
    &--banner {
        margin-top: $smallick-grid-height-100vh / 5;
        height: $smallick-grid-height-100vh / 2 + 8;
        @extend .u-no-bot-margin;
        @include breakpoint(sm) {
            margin-top: $all-zero;
            height: $smallick-grid-height-100vh;
        }
        .slick-next {
            right: $smallick-grid-width-100 - 93;
        }
        .slick-prev {
            left: $smallick-grid-width-100 - 93;
        }
        .slick-dots {
            bottom: $all-zero + 15;
            @include breakpoint(sm) {
                bottom: $all-zero + 30;
            }
        }
    }

    // slider for series projects page
    &--seriesprojects {
        &__slide {
            height: $smallick-grid-height-100vh / 1.428;
            @extend .u-contarea-100;
            @extend .u-display-block;
            @include breakpoint(sm) {
                height: $smallick-grid-height-100vh / 1.666;
            }
            article {
                @extend .u-height-100;
                @extend .u-oflowhidden;
                @extend .u-no-side-padding;
                @extend .u-contarea-100__inner;
                @include breakpoint(md) {
                    width: $smallick-grid-width-100;
                    max-width: $smallick-grid-width-100;
                }
                header {
                    z-index: 2;
                    left: $all-zero + 30;
                    right: $all-zero + 30;
                    bottom: $all-zero + 60;
                    margin-top: $all-zero - 10;
                    @extend .u-absolute;
                    &:after {
                        z-index: 3;
                        content: "";
                        margin-top: $all-zero - 10;
                        height: $smallick-grid-height-100 * 1.3;
                        background-color: rgba($black-rgba, 0.7);
                        width: $all-zero + 1;
                        left: $all-zero - 30;
                        @extend .u-absolute;
                        @extend %u-opacity-0;
                        //@extend .u-height-100;
                        @extend .u-transition-500;
                        @include breakpoint(md) {
                            left: -21%;
                        }
                    }
                    @include breakpoint(md) {
                        left: calc(10% + 30px);
                        right: calc(10% + 30px);
                    }
                    h3 {
                        z-index: 4;
                        @extend .u-relative;
                        @extend .u-txtalign-left;
                        @extend .u-no-bot-margin;
                        &.c-title {
                            &--suptxt {
                                font-variant: none;
                                span {
                                    font-family: $headings-font-family;
                                    margin-bottom: $all-zero + 10;
                                    letter-spacing: $all-zero + 1;
                                    @extend .u-txt-lowercase;
                                }
                            }
                        }
                    }
                }
                figure {
                    z-index: 1;
                    @extend .u-absolute;
                }
            }
            &:hover {
                header {
                    h3 {
                        &.c-title {
                        }
                    }
                    &:after {
                        right: $all-zero - 30;
                        @extend %u-opacity-1;
                        @extend .u-width-100;
                        @include breakpoint(md) {
                            right: -21%;
                        }
                    }
                }
                figure {
                    img {
                        @extend .u-scale-1point2;
                    }
                }
            }
        }
    }
}


.swiper-pagination1 {
    &.swiper-pagination-clickable {
        &.swiper-pagination-bullets {
            @extend .slick-dots;
            z-index: 2;
            bottom: $all-zero + 20 !important;
            span {
                &.swiper-pagination-bullet {
                    border-radius: $all-zero;
                    height: $all-zero + 1;
                    width: $all-zero + 30;
                    margin: $all-zero $all-zero + 8;
                    background-color: rgba($white-rgba, 0.5);
                    @extend %u-opacity-1;
                    @extend .u-no-padding;
                    @extend .u-display-in-block;
                    @extend .u-transition-500;
                    &.swiper-pagination-bullet-active {
                        height: $all-zero + 2;
                        background-color: rgba($white-rgba, 1);
                    }
                }
            }
        }
    }
}
.swiper-button-prev,
.swiper-button-next {
    background-color: rgba($black-rgba, 0.3);
    background-size: $smallick-grid-width-100 / 5;
    top: $smallick-grid-width-100 / 5;
    padding-top: $all-zero + 25;
    padding-bottom: $all-zero + 25;
    @extend .u-absolute;
    @include breakpoint(lg) {
        background-size: $smallick-grid-width-100 / 6.666;
    }
    &:hover {
        background-color: rgba($black-rgba, 0.7);
    }
}
.swiper-button-prev {
    left: $all-zero;
    padding-left: $all-zero + 60;
    @include breakpoint(lg) {
        padding-left: $all-zero + 80;
    }
}
.swiper-button-next {
    right: $all-zero;
    padding-right: $all-zero + 60;
    @include breakpoint(lg) {
        padding-right: $all-zero + 80;
    }
}
