// footer partial
.c-footer {
    .u-vwtype--dark__bgcolor {
        background-color: $black-rgba-solid-lighten-12;
    }
    &__inner {
        @extend .u-cmn-padding;
        @include breakpoint(sm) {
            display: table;
            margin: $all-zero auto;
            padding: $font-size-global * 2.5 $all-zero !important;
            width: $smallick-grid-width-100;
        }
    }
    @include breakpoint(sm) {
        .o-brand,
        .o-social {
            display: table-cell;
            float: none;
            vertical-align: middle;
        }
        .o-social {
            text-align: right;
        }
    }
}


