// Overlay partial

.c-ovrlay {

    &--dark {
        background-color: rgba($black-rgba, 0.85);
    }
    &--light {

    }

    &--header {
        z-index: 21;
        @extend .u-fixed;
        @extend .u-all-0;
    }

    &__inner {
        z-index: 22;
        @extend .u-relative;
    }
}
