// Navigation partial

.c-nav {
    font-family: $acaslonpro-font-family;
    font-size: $font-size-global + 2;
    letter-spacing: $all-zero + 1;
    line-height: $line-height-global - 4;
    @extend .u-txt-capitalize;
    @include breakpoint(md) {
        font-size: $font-size-global - 2;
        letter-spacing: $all-zero + 2;
    }
    li {
        @extend .u-relative;
        @extend .u-display-in-block;
    }

    // main nav menu / primary nav menu
    &--main {
        // margin-top: $smallick-grid-height-100vh / 4;
        font-size: $font-size-global * 1.5 + 1;
        line-height: 1.1em;
        @extend .u-txtalign-right;
        @include breakpoint(md) {
            font-size: $font-size-global * 2 - 3;
        }
        @include breakpoint(lg) {
            font-size: $font-size-global * 2.5;
        }
        li {
            margin-bottom: 0.4em;
            @extend .u-width-100;
            a {
                &:before {
                    bottom: $all-zero + 10;
                }
            }
            ul {
                display: none;
            }
        }
    }

    // 2ndary nav menu
    &--secondary {
        @include breakpoint(md) {
            text-transform: uppercase;
        }
        li {
            margin: $all-zero $all-zero + 12;
            &:after {
                content: "";
                top: $all-zero - 2;
                right: $all-zero - 15;
                width: $all-zero + 1;
                background-color: $white-rgba;
                @extend .u-absolute;
                @extend .u-height-100;
            }
            &:first-child {
                @extend .u-no-left-margin;
            }
            &:last-child {
                @extend .u-no-right-margin;
                &:after {
                    @extend .u-display-none;
                }
            }
        }

        // 2ndary nav menu special
        &--special {
            @extend .u-no-bot-margin;
            @include breakpoint(sm) {
                z-index: 2;
                top: inherit !important;
                bottom: $all-zero + 32;
                // top: $all-zero + 180 !important;
            }
        }
    }

    // for home page / front page
    &--home {
        // padding-top: $font-size-global * 2.5;
        // margin-bottom: $font-size-global * 1.5;
        margin-top: $font-size-global / 2 + 2;
        @include breakpoint(sm) {
            left: $all-zero + 30;
            bottom: $all-zero + 30;
            position: absolute;
        }
    }

    // for all inner pages
    &--innrpage {
        top: $all-zero + 35;
        right: $all-zero + 30;
        @extend .u-absolute;
        @extend .u-display-none;
        @include breakpoint(sm) {
            display: block;
        }
    }

    // themes
    &--darkbg {

    }
    &.u-txtalign-center {

    }
}
